In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_train = pd.read_csv("E:/BDT/5001/Kaggle/train_set.csv")
df_test = pd.read_csv("E:/BDT/5001/Kaggle/test_set.csv")

In [3]:
df = pd.concat([df_train,df_test],sort = False)

In [4]:
df.shape

(447, 376)

In [5]:
df.head()

,id,playtime_forever,is_free,price,purchase_date_year,purchase_date_month,duration,duration_to_release,total_reviews,positive_reviews_percent,...,Western,World War I,World War II,Zombies,eSports,Cold War,GameMaker,Lore-Rich,Modern,On-Rails Shooter
0,0,0.000000,0,-0.073279,0.329754,0.081704,-0.340029,0.714586,-0.287531,-0.270005,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,1,0.016667,1,-0.077293,-1.870661,1.236887,1.607802,-0.587260,-0.294547,1.085405,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2,2,0.000000,0,-0.071868,0.329754,0.081704,-0.340029,0.661115,-0.236874,-0.104721,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
3,3,1.533333,0,-0.066551,-1.870661,1.236887,1.601120,1.553747,0.727123,0.907432,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
4,4,22.333333,0,-0.072085,0.329754,-1.073478,0.060897,1.127073,-0.147274,0.716355,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [6]:
col = df_train.columns & df_test.columns
col

Index(['id', 'is_free', 'price', 'purchase_date_year', 'purchase_date_month',
       'duration', 'duration_to_release', 'total_reviews',
       'positive_reviews_percent', 'Action',
       ...
       'Violent.1', 'Visual Novel', 'Walking Simulator', 'War',
       'Warhammer 40K', 'Western', 'World War I', 'World War II', 'Zombies',
       'eSports'],
      dtype='object', length=275)

In [7]:
#只保留train和test处理之后共有的列，合并成新的数据集
train = df_train[col]
test = df_test[col]

In [8]:
print(train.shape)
print(test.shape)

(357, 275)
(90, 275)

In [9]:
Data = pd.concat([train,test])
Data.shape

(447, 275)

In [10]:
Data.drop(["id"],axis=1,inplace = True)
Data.shape

(447, 274)

In [11]:
Data.to_csv("E:/BDT/5001/Kaggle/Data.csv",index = False)